html{
    background-color: aliceblue;
}

footer{
    font-size: small;
}

img{
    height: 400px;
    width: 500px;
}

button{
    font-size: medium;
}

.header{
    text-align: center;
    font-size: 100px;
    font-family: fantasy;
}

.coverPhoto{
    height: 300px;
    width: 300px;
}

.item{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item:hover{
    scale: 1.05;
}

.allRecipes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 70px
}

.even{
    background-color: #efeff0;
}

.odd{
    background-color: #D5CAD6;
}

.rightnav{
    font-size: medium;
    font-weight: normal;
    float: right;
}

.item p{
    font-size: x-large;
    font-weight: bold;
}